.reveal .mw-editsection {
	display: none;
}

.reveal h1 {
	margin-top: 20%;
}

.reveal h2 {
	margin-top: 1%;
}

.reveal .tocnumber {
	display: none;
}

@media print {
	.reveal-viewport .printer,
	.reveal-viewport .close {
		display: none;
	}
}
